@import 'variables';
@import 'partials/home';
@import 'partials/recipe-list-card';

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

body {
  background: $white-blue;
  color: $black-blue;
  font-family: 'Raleway-Light', Helvetica, Arial, sans-serif;
}
