@import 'variables';
@import 'partials/home';
@import 'partials/recipe-list-card';
@import 'partials/recipe-detail';

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

body {
  background: $background;
  color: $font;
  font-family: 'Raleway-Light', Helvetica, Arial, sans-serif;
}

.ftg-link {
  color: $font;
  text-shadow: 3px 3px 3px $link;

  &:active,
  &:hover,
  &:visited {
    text-decoration: none;
  }

  &:active,
  &:hover {
    color: $eggplant;
    font-weight: bold;
    text-shadow: none;
  }
}
