@import 'variables';
@import 'partials/home';
@import 'partials/recipe-list-card';

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

body {
  background: $background;
  color: $font;
  font-family: 'Raleway-Light', Helvetica, Arial, sans-serif;
}

a.ftg-link {
  bottom: 0.5rem;
  color: $font;
  display: block;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  position: absolute;
  right: 1.25rem;
  text-shadow: 3px 3px 3px $link;

  &:active,
  &:hover,
  &:visited {
    text-decoration: none;
  }

  &:active,
  &:hover {
    color: $eggplant;
    font-weight: bold;
    text-shadow: none;
  }
}
