@font-face {
  font-family: 'rostef';
  src: url('../fonts/rostef-thin-webfont.eot') format('embedded-opentype');
  src: url('../fonts/rostef-thin-webfont.woff') format('woff'),
       url('../fonts/rostef-thin-webfont.woff2') format('woff2'),
       url('../fonts/rostef-thin.ttf') format('truetype'),
       url('../fonts/rostef-thin-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Colors
$white-blue: #f7fbff;
$black-blue: #000f1e;
$eggplant: #614051;
$eggplant-header: rgba(97, 64, 81, 0.75);
