@font-face {
  font-family: 'rostef';
  src: url('../fonts/rostef-thin-webfont.eot') format('embedded-opentype');
  src: url('../fonts/rostef-thin-webfont.woff') format('woff'),
       url('../fonts/rostef-thin-webfont.woff2') format('woff2'),
       url('../fonts/rostef-thin.ttf') format('truetype'),
       url('../fonts/rostef-thin-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Colors
// scheme: https://coolors.co/614051-f8f6f4-c2cfb2-8db580-7e8987
$background: #F8F6F4;
$card-border: rgba(0,0,0,.125);
$card-header: #C2CFB2;
$font: #0C0D0D;
$eggplant: #614051;
$header: #8C7480;
$link: #749569;
