.card {
  padding-bottom: 2rem;

  .card-header {
    background-color: $card-header;
    border: 1px solid $card-border;
    padding-bottom: 2rem;
    position: relative;
    
    .material-icons {
      color: $eggplant;
      font-size: 1rem;
      padding: 0 0.5rem;
      vertical-align: text-top;
    }

    a.ftg-link {
      bottom: 0.5rem;
      display: block;
      font-size: 0.8rem;
      letter-spacing: 1.5px;
      position: absolute;
      right: 1.25rem;
    }
  }

  .card-body {
    max-height: 20rem;
    overflow: auto;

    .card-title {
      color: $eggplant;
      margin-top: -1rem;
    }
  }
}
