include ../mixins/recipe-list-card.pug

- const globals = locals.recipes.items[0].fields.title;

.container
  +recipe-list-card(`${globals}`, 'about 15mins')
  a.btn.btn-primary.add-recipe(href="add-recipe.html") Add Recipe
